[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

"pep8" = "*"


[packages]

flask = "*"
metapy = "*"
google-cloud-bigquery = "*"


[requires]

python_version = "3.6"
